@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background-color: #D3D3D3;
}

/* Header & Navbar */
.navbar.bg-dark-gray {
    background-color: #535453 !important;
    width: 100%;
}


header a {
    color: #D3D3D3 !important;
    font-size: 25px;
 }


/* Gallery container */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images as needed */
}

/*individual gallery images */
.gallery img {
    width: 200px; 
    height: 250px;
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* movie-dewtail page */
.rounded-container {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha (fourth value) for transparency */
    border-radius: 15px; /* Adjust the border-radius as needed */
    padding: 15px; /* Add padding as needed */
}
