/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background-color: #D3D3D3;
}

/* Header & Navbar */
.navbar-brand {
    padding-bottom: .3125rem;
    font-size: 3.25rem;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 1rem;
}

.navbar {
    border-bottom: 2px solid #fff; /* Adjust the border color and thickness as needed */
}

/* Always display the genre button */
.btn-group-genre {
    display: block;
}

.dropdown-menu-genre {
    min-width: 200px; 
}

header a {
    color: #D3D3D3 !important;
    font-size: 25px;
}

/* Footer */

.content {
    flex: 1;
}

footer {
    background-color: #ffffff; /* White background */
    border-top: 2px solid #ccc; /* White border on top */
    padding: 10px; /* Adjust padding as needed */
    margin-top: auto; /* Push the footer to the bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Gallery container */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images as needed */
}

/* Individual gallery images */
.gallery img {
    width: 200px; 
    height: 250px;
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
